* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    color: #333;
    background-color: #f4f7fa;
}

.dashboard-container {
    display: flex;
    min-height: 100vh;
}

.sidebar {
    width: 250px;
    background-color: #333;
    color: #fff;
    padding: 20px;
    display: flex;
    flex-direction: column;
}

.sidebar-header h3 {
    color: #fff;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.sidebar ul {
    list-style-type: none;
}

.sidebar ul li {
    margin-bottom: 10px;
}

.sidebar ul li a {
    color: #ccc;
    text-decoration: none;
    font-size: 1rem;
}

.sidebar ul li.active a {
    background-color: #007bff;
    color: #fff;
    padding: 8px 10px;
    border-radius: 4px;
}

.sidebar ul li a:hover {
    color: #fff;
}

.content {
    flex: 1;
    padding: 20px;
}

.table-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0;
    background-color: #28a745;
    color: #fff;
}

.table-header h2 {
    font-size: 1.5rem;
}

.table-controls {
    display: flex;
    align-items: center;
    gap: 10px;
}

.table-controls input[type="text"] {
    padding: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.table-controls label {
    font-size: 0.9rem;
    color: #fff;
}

.add-button {
    background-color: #007bff;
    color: #fff;
    padding: 5px 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.add-button:hover {
    background-color: #0056b3;
}

.table-container {
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    overflow-x: auto; /* Makes table scrollable on smaller screens */
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
}

table th, table td {
    padding: 10px;
    text-align: left;
    border-bottom: 1px solid #ddd;
}

th {
    background-color: #f8f9fa;
}

.edit-button, .delete-button {
    border: none;
    color: #fff;
    padding: 5px 10px;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 5px;
    transition: background-color 0.3s;
}

.edit-button {
    background-color: #17a2b8;
}

.edit-button:hover {
    background-color: #138496;
}

.delete-button {
    background-color: #dc3545;
}

.delete-button:hover {
    background-color: #c82333;
}

@media (max-width: 768px) {
    .dashboard-container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}

a {
    color: inherit; /* Inherits the color from the parent element */
    text-decoration: none; /* Removes the underline */
}
